.simpleBoxesOuterWrapper{

  text-align: center;
  padding-top: 100px;
}

.simpleBoxesInnerWrapper{
  height: 455px;
  overflow: scroll;
  
}

.simpleBoxesImageAndCanvasWrapper{
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}

#annotationOuterWrapper{
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}

#gtColumnLeft{
  position: relative;
}

#gtColumnRight{
  position: relative;
}

#innerWrapperLeft{
  position: relative;
}

#innerWrapperRight{
  position: relative;
}

.gridOverlay {
  /* display: none; Hidden by default */
  border: 1px solid rgba(0, 0, 255, 0.8);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Makes grid non-interactive */
  background-size: 100px 100px;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.8) 2px, transparent 2px),
                    linear-gradient(to bottom, rgba(0, 0, 255, 0.8) 2px, transparent 2px);
}

#imageToBox{
  height: 455px;
  position: absolute;
  top: 0;
  left : 0;
}

.canvasToBox{
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left : 0;
}

i.trashIcon{
  color: white;
  font-size: 15px;
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

i.tagIcon{
  color: white;
  font-size: 15px;
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.labelSelectorWrapper{
  background-color: #fff;
  z-index: 100001;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

}

.labelSelectorWrapper.closed{

  display: none;
}
