<main class="container">

  <div id="annotationOuterWrapper">
    <div id="annotationInnerWrapper">
      <div class="simpleBoxesImageAndCanvasWrapper">
      <img id="imageToAnnotate" src="/uploads/<%=imageData.id %>" />
      </div>
    </div>
  </div>


</main>
