<!-- <main class="container d-flex justify-content-center"> -->
  <main class="container d-flex">
    <div>      
      <div class = "labelBanner">        
        <p>Use keyboard shortcuts to switch to the desired label.</p>
        <div>Current active label is: </div>

        <div class="unset-active-hotkey-switch form-check form-switch">
          <input class="form-check-input" type="checkbox" id="unset-active-hotkey-switch" >
          <label class = "form-check-label" id="activeLabel" for="unset-active-hotkey-switch">None</label>
        </div>
        
        <div>Please press hot keys to set or change.</div>
      </div>
      <div class = "hotKeyBox" id = "hotKeyBox">
        <p>Shortcut Keys</p>        
      </div>      
      <div class="toggle-switch">
        <input type="checkbox" id="toggle-switch" checked>
        <label for="toggle-switch">Show Labels</label>
      </div>
   
  </div>
    <div id="annotationOuterWrapper">    
      <div id="annotationInnerWrapper">
        <div class="simpleBoxesImageAndCanvasWrapper">
        <img id="imageToAnnotate" src="/uploads/<%=imageData.id %>" />
        </div>
      </div>
    </div>
  
  
  </main>
  