<main class="container">
  <div class="d-flex flex-column justify-content-center align-items-center" style="">

    <p class="h1 mt-5 mb-4"><i class="bi-emoji-frown"></i></p>
    </div>
    <div class="mt-5 text-center">
      <p class="h1">403 <%= ('Error') %></p>
      <p class="h4"><%= ('Error_403') %></p>
      <div class="mt-4">
      <p><%= ('Error_403Desc') %></p>
      </div>
    </div>
    <br />
  </div>
</main>
