<!-- Change the class from "sbsWrapper" to "container" to keep the image size the same as other pages -->
<div class="container d-flex justify-content-center">

  <div>
    
    <div class = "labelBanner">
      <p>Hot key Use keyboard shortcuts to switch to the desired label.</p>
    </div>
    <div class = "hotKeyBox">
      <p>Shortcut Keys</p>
      <p>Label1 <i>ctrl + 1</i></p>
      <p>Label1 <i>ctrl + 1</i></p>
      <p>Label1 <i>ctrl + 1</i></p>
      <p>Label1 <i>ctrl + 1</i></p>
      <p>Label1 <i>ctrl + 1</i></p>
    </div>
    <div class="switch">
      <input type="checkbox" id="toggle-switch" checked>
      <label for="toggle-switch">Show Labels</label>
    </div>
 
</div>

  <div class="sbsRow">

    <div   id="gtColumnLeft" style="width: 100%; float: clear; text-align: center;">
      <div id="scrollBoxLeft" class="groundTruthInnerWrapper">
        <div class="simpleBoxesImageAndCanvasWrapper">
        <img class = "imageToGroundTruth" id="imageToGroundTruth" src="/uploads/<%=imageData.id %>"/>
        </div>
      </div>
    </div>

    <div  id="gtColumnRight" style="width: 49.8%; float: right; text-align: left;">
      <div id="scrollBoxRight" class="groundTruthInnerWrapperReadOnly">
        <div class="simpleBoxesImageAndCanvasWrapper">
        <img class = "imageToGroundTruth" id="imageComparison" src="/uploads/<%=imageData.id %>/?right=true">
        </div>
      </div>
    </div>

    <div style="float: clear">&nbsp;</div>


  </div>



</div>
