<main>
  <div>
    <form action="/labels/create" method="post">
      <input type="text" name="name" placeholder="Label name"></input>
      <button type="submit">Add Label</button>
    </form>
  </div>
</main>