<div class="lineDivisionWrapper">



  <div class="ldRow">
    <div class=""  id="sliderColumnLeftTop" style="width: 49.8%; float: left; text-align: right;">
      <input
        type="range"
        class="form-range"
        min="0"
        max="100"
        value="50"
        id="topSlider"
        name="topSlider"
        style="position: relative; top: 20px; left: 0; z-index: 10000;"
      />
    </div>
    <div style="clear: both; height: 1px;">&nbsp;</div>
    <div class=""  id="ldColumnLeft" style="width: 49.8%; float: left; text-align: right;">
      <div id="ldBoxLeft" class="ldBoxInnerWrapper">
        <img id="imageToLineDraw" src="/uploads/<%=imageLeftId %>"/>
      </div>
    </div>

    <div class="" id="ldColumnRight" style="width: 49.8%; float: right; text-align: left;">
      <div id="ldBoxRight" class="ldBoxInnerWrapper">
        <img id="lineDrawNextImage" src="/uploads/<%=imageRightId %>">
      </div>
    </div>

    <div style="clear: both;  height: 1px;">&nbsp;</div>
    <div class=""  id="sliderColumnLeftBottom" style="width: 49.8%; float: left; text-align: right;">
      <input
        type="range"
        class="form-range"
        min="0"
        max="100"
        value="50"
        id="bottomSlider"
        name="bottomSlider"
        style="position: relative; bottom: 14px; left: 0; z-index: 10000;"
      />
    </div>
    <div style="clear: both; height: 1px;">&nbsp;</div>

  </div>



</div>
