<main class="container">
  <div class="mt-5">
    <form  action="/api/sessions" data-onSuccessType="redirect" data-onSuccessValue="/tasks"
      class="handleable d-flex flex-column flex-wrap align-items-center justify-content-center">
      <img class="my-4" src="/images/logo-black-svg.svg" height="57" />
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="alert alert-danger loginFormError formError">
          <i class="bi-exclamation-triangle"></i> Login failed; try again.
      </div>

      <div class="form-floating mb-1 loginFormInput">
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="name@example.com"
          required
        />
        <label for="username">Username</label>
      </div>
      <div class="form-floating loginFormInput">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
      </div>
      <button class="btn btn-lg btn-primary mt-3" type="submit">
        Login
      </button>
    </form>
  </div>
</main>
