<main class="container my-5">
  <div class="row">
    <img class="my-4" src="/images/logo-black-svg.svg" height="57">
  </div>
  <div class="row text-center">
    <h1 class="h3 mb-3 fw-normal">Create the first Lab Lead account</h1>
  </div>
  <div class="row">
    <form class="handleable" action="/api/users" data-onSuccessType="redirect" data-onSuccessValue="/tasks" id="create-lab-lead-form">
      <div class="form-floating mb-1 col-3 mx-auto">
        
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="username"
          required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-1 col-3 mx-auto">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required>
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-1 col-3 mx-auto">
        <input
          type="password"
          id="passwordConfirm"
          name="passwordConfirm"
          class="form-control"
          placeholder="Confirm Password"
          required>
        <label for="confirm-password">Confirm password</label>
      </div>
      <div class="form-floating mb-4 col-3 mx-auto">
        <select
          id="disabled-role"
          name="disabled-role"
          class="form-select form-control"
          disabled>
          <option value="admin" selected>Lab Lead</option>
        </select>
        <label for="role">Role</label>
        <input type="hidden" id="role" name="role" value="admin">
      </div>
      <div class="col-3 mx-auto d-flex justify-content-center">
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</main>
