<main class="container">

    <div class="mt-6 text-center">
        <div class="simpleBoxesOuterWrapper">
          <div class="simpleBoxesInnerWrapper">
              <div class="simpleBoxesImageAndCanvasWrapper">
                <img id="imageToBox" src="/uploads/<%=img1.id %>"  />
              </div>
          </div>
        </div>
    </div>
</main>
