<main class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center pt-5"
  >
    <p class="h1 mt-5 mb-4"><i class="bi-emoji-sunglasses"></i></p>
    <p class="h1"><%= ('Congrats') %>!</p>
    <p class="h4"><%=message%></p>
    <br />
    <a
      href="/tasks"
      class="pulse px-auto my-3 btn btn-primary"
      ><%= ('TaskTable') %></a
    >
  </div>
</main>
